input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   display: none;
}
input {
    outline: none !important;
}
button {
    cursor: pointer;
    border: none !important;
    outline: none !important;
}
.close:not(:disabled):not(.disabled) {
    cursor: pointer;
    border: none;
    outline: none;
}

input[type="button"]
{
    border: none;
    outline: none;
}

.modal-content-1 {
    width: 404px;
    height: 231px;
    margin: 0 auto;
}


.modal-content-2,
.modal-content-3,
.modal-content-4,
.modal-content-5 {
    width: 430px;
    height: 430px;
}

.close-btn > img {
    width: 18px;
    height: auto;
}

/* .close-btn {
    border: none;
    background-color: #c6c4c4 !important;
    color: #37343a;

    width: 20px;
    height: 20px;
    border-radius: 20px;
    opacity: .7;
    line-height: 8px;
    font-weight: 400;
} */
/* .close-btn-1 {
    color: #fff;
    background-color: rgba(240,240,240, .5);
}
.close-btn > i {
    font-size: 12px;
    opacity: 1;
    margin-bottom: 1px;
} */

.stick-btn {
    width: 70px;
    height: 6px;
    border-radius: 70px;
    background-color: #bdbbbf;
    padding: 0;

    position: absolute;
    top: -20px;
    left: 40%;
}

.main_part {
    padding: 0 1rem;
}

.wrap_left {
    border-bottom: 1px solid #cfced0;
}

.wrap_right>.submit_btn {
    width: 18%;
}

input::placeholder {
    color: #4b4651;
    font-family: 'Regular';
    font-size: 0.9rem;
}

.submit_btn {
    border-radius: 20px;
    border: none;
    background-color: #e4e3e6;
}

.submit_btn:hover,
.submit_btn:active {
    background-color: #6c44f5;
}

.submit_btn>img {
    margin-top: 5px;
}

.wrap_right_input {
    border: none;
    border-bottom: 1px solid #cfced0;
    width: 80%;
}

.first_text {
    margin-left: 1rem;
}

.first_text>h3 {
    color: #373439;
    font-family: 'Semibold';
    font-size: 1.1rem;
}

.arrow_down {
    color: #cfced0;
}


.first_text>p {
    color: #9c9c9e;
    font-family: 'Regular';
    font-size: 0.8rem;
    padding: 3px 0;
}

.second_image>img {
    width: 25px;
    /* height: 25px; */
}

.second_num_prefix {
    font-family: 'Regular';
    color: #4c4752;
}

.logo > img {
    width: 100px;
}

.questions {
    width: 50%;
    color: #3298fc;
    font-family: 'Open Sans', sans-serif;
    /* font-weight: bold; */
    font-size: 0.8rem;
}

.mobile-button {
    width: 65px;
    height: 50px;
    border-radius: 50px;
    background-color: #e4e3e6;
    color: #fff;

    top: 12rem;
    right: 0;
}

.mobile-button:active {
    background-color: #6c44f5;
    color: #fff;
}

@media only screen and (max-width: 767px) {

    .modal-dialog {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        margin: 0 auto;
    }

    .modal-content {
        width: 100%;
        height: 65vh;
        border-top-left-radius: 1.3rem;
        border-top-right-radius: 1.3rem;
        border: none;
        position: fixed;
        bottom: 0;
    }

    .bottom_part {
        position: absolute;
        top: 0;
        margin: 2vh 0;

        padding-top: 0 !important;
        padding-left: 0 !important;
        padding-right: 4rem !important;
        width: 100%;
    }

    .questions {
        display: none !important;
    }

    .slogan {
        display: block;
        font-family: 'Semibold';
        font-size: 1rem;
        color: #9f9aa3;
    }

    .main_part_second {
        padding-top: 7rem !important;
        border-bottom: 2px solid #d1d1d1;
        justify-content: flex-start !important
    }

    .wrap_left,
    .wrap_right_input {
        border: none;
        margin: 5px;
    }

    .second_num_prefix {
        padding: 0 0 0 6px;
    }

    .line {
        display: block !important;
        /* width: 50px; */
    }

    .wrap_right_input {
        width: 100%;
    }

    .modal-content-2 {
        background-color: #fff !important;
    }

    .second-half-white {
        top: 0;
        margin-top: 2rem;
        padding: 3rem 1.5rem !important;
        background-color: transparent !important;
        height: 100% !important;
    }

    .successfully-sent-1 {
        color: #2c2435 !important;
        font-family: 'Regular' !important;
        font-weight: bold;
        font-size: 1.2rem !important;
        text-align: left !important;
        padding-bottom: 1rem !important;
        line-height: 1.6rem;
    }

    .successfully-sent-2 {
        text-align: left !important;
        font-size: 0.9rem;
        line-height: 1.3rem;
    }
}

@media only screen and (max-width: 350px) {
    input::placeholder {
        font-size: 0.8rem;
    }
    .line {
        width: 42px;
    }
}

/* second */

.modal-content-2 {
    margin: 0;
    background-color: #6b43f4;
}

.header-part-second {
    width: 100%;
}

.background-image-second {
    position: absolute;
    left: 57px;
    top: 22px;
}

.second-half-white {
    left: 0;
    width: 100%;
    height: 54%;
    bottom: 0;
    background-color: #fff;
}

.checkMark {
    top: -15px;
}

.heading {
    font-family: 'Semibold';
    font-size: 1.2rem;
}

.successfully-sent {
    color: #9c9c9e;
    font-family: 'Regular';
    font-size: 0.8rem;
    text-align: center;
}

.countdown {
    font-family: 'Semibold';
    font-size: 1.4rem;
    color: #393142;
}

.check-buttons {
    width: 100%;

    color: #1c89fa;
    color: #3298fc;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
}

.time {
    font-family: 'Semibold';
    font-size: 1.6rem;
    color: #3f3748;
}